<div id="ornament-container" class="available">
  <div class="row-fluid">
    <div class="page-header span9">
      <% if session[:admin] %>
        <h3>Admin Name : <span><%= (@user.name || 'User').capitalize %></span></h3>
      <% else %>
        <h3>Name : <span><%= (@user.name || 'User').capitalize %></span></h3>
      <% end %>
      <h3>User Name : <span><%= @user.user_name %></span></h3>
      <%= link_to 'Agrement', "http://www.google.com", :target => '_blank', :class => 'btn' %>
      <div class="row-fluid description">
        <div class="span12">
          <h3>Listing:</h5>
            <div class="page-left span6">
              <h4>Name : <span><%= @listing.try(:name) %></span></h4>
              <h4>Offer : <span><%= @listing.try(:offer) %></span></h4>
              <h4>Available : <span><%= @listing.try(:available) %></span></h4>
            </div>
            <div class="page-right span5">
              <h4>Expiry Date : <span><%= @listing.try(:expires) %></span></h4>
              <h4>Menu : <span><%= @listing.try(:menu) %></span></h4>
            </div>
        </div>
      </div>
    </div>
    <div class="span3 details">
      <div class="price-field">
        <h3>Display Pic</h3>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  </div>
  </div>
<div>